<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Temp\NIISQueryMailService.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="WARN"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DBConnectionString" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=NIISPermit;Data Source=ARNOENGELBRECHT\SQLEXPRESS;Trusted_Connection=False;User Id=sa;Password=Passw0rd"/>
    <add key="MailServer" value="mail.ww-apps.com" />
    <add key="MailPort" value="143" />
    <add key="MailUser" value="visa@ww-apps.com" />
    <add key="MailAddress" value="visa@ww-apps.com"/>
    <add key="MailPassword" value="DHAauto_2021$" />    
    <add key="DocumentsDirectory" value="C:\NIIS\Visa Renewals"/>
  </appSettings>
</configuration>