<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.14" targetFramework="net452" />
  <package id="MailKit" version="3.1.1" targetFramework="net452" />
  <package id="MimeKit" version="3.1.1" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net452" />
  <package id="reactiveui-core" version="2.3.2.0" targetFramework="net452" />
  <package id="reactiveui-xaml" version="2.3.2.0" targetFramework="net452" />
  <package id="Rx_Experimental-Main" version="1.1.10605" targetFramework="net452" />
  <package id="Rx_Experimental-Xaml" version="1.1.10605" targetFramework="net452" />
  <package id="ServiceProcess.Helpers" version="0.9.1.9" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" />
</packages>